body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

#mainCanvas {
  width: 100vw;
  height: 100vh;
}

#fadeOutContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  transition: opacity 1s;
  pointer-events: none;
}

/* Control Panel */

#controlPanel {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 30vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  pointer-events: all;
}

/* Display */

.col {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 25vh;
  border: solid 0.1vw black;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5vh;
}

/* Wind */

#dispWindDir {
  height: 12.5vh;
}

#dispWindGust {
  height: 6.25vh;
}

#dispWindAv {
  height: 6.25vh;
}

/* Rain */

#dispRainLevel {
  height: 12.5vh;
}

#dispRainPress {
  height: 6.25vh;
}

#dispRainQuan {
  height: 6.25vh;
}

/* Temp */

#tempHolder {
  position: relative;
}

#tempHolder > h1 {
  margin: 0;
  height: 2vh;
  font-size: 2vh;
}

#tempHolder > p {
  margin: 0;
  height: 2vh;
}

#dispTempOut {
  height: 11.5vh;
}

#dispTempIn {
  height: 11.5vh;
}

.tempDeg::after {
  content: ' \00B0 C';
  font-size: 1.25vh;
}

.tempRh::after {
  content: ' Rh';
  font-size: 1.25vh;
}

#dispTempIn p,
#dispTempOut p {
  font-size: 4vh;
  margin: 0;
}

#locSelectMap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#locLat::after,
#locLon::after {
  content: '...';
}

#dispLoc span {
  margin: 0;
}

#dispLoc p {
  font-size: 3vh;
  margin: 0;
}

#locHolder p {
  margin: 0;
}

#locHolder > h1 {
  margin: 0;
  height: 2vh;
  font-size: 2vh;
  text-transform: uppercase;
  margin-bottom: 0.5vh;
}

#locHolder input {
  max-width: 8vw;
  margin-left: 1vw;
  margin-top: 0.5vh;
  height: 3vh;
  border: solid black 0.05vw;
}

#locHolder button {
  width: 8vw;
  margin-left: 1vw;
  margin-bottom: 0.5vh;
  padding: 0.5vh 0;
  background-color: white;
}

#dispRainPress p {
  font-size: 3vh;
  margin: 0;
}

#dispPressure::after {
  content: 'hPa';
  font-size: 1.25vh;
}

#dispRainQuan p {
  font-size: 3vh;
  margin: 0;
}

#dispRain::after {
  content: 'mm';
  font-size: 1.25vh;
}

#windAverage,
#windGust {
  font-size: 3vh;
  margin: 0;
}

#windAverage::after,
#windGust::after {
  content: 'm/s';
  font-size: 1.25vh;
}

#windHolder > h1 {
  margin: 0;
  height: 2vh;
  font-size: 2vh;
  text-transform: uppercase;
  margin-bottom: 0.5vh;
}

#dispWindDir svg {
  height: 10vh;
}

#dispWindDir {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row p {
  margin: 0;
  font-size: 3vh;
  font-weight: 600;
  text-transform: uppercase;
}
